.blogList{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
}
.blogs{
    border: 2px dashed #bfbfbf;
    background: #ffffff;
    max-width: 40%;
    overflow-wrap: break-word;
    padding: 10px;
}
.blogs:hover{
    box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.31);
    transition: 150ms;
    cursor: pointer;
}
.blogs p{
    text-align: end;
}
.comments{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    margin-top: 15px;
}
.commentBox{
    border: 1px dashed #cccccc;
    background: #ffffff;
    display: inline-block;
    padding: 10px;
    max-width: 30%;
    overflow-wrap: break-word;
}
.commentBox p{
    text-align: end;
}